# Ignorar a pasta do ambiente virtual
venv/

# Arquivos de cache e compilação do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do Streamlit
.streamlit/

# Logs e arquivos temporários
logs/
*.log
*.tmp

# Configuração do Supabase (caso tenha credenciais locais)
supabase/.env
supabase/config.json

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
